:root {
  --sidebar-background: #142238;
  --button-highlight: #ffa101;
  --button-text: #dbd3cc;
  --main-background: #ddd;
  --accents: #f7e7ce;
  --button-shading: #5b5754;
  --button-hover: #b5afa9;
}

@media (max-width: 480px) {
  .content {
    position: static;
    left: 18px;

  }
}

body {
 background-color: var(--main-background);
 margin: 0;
 padding: 0;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home-tab:checked ~ .home-content,
#portfolio-tab:checked ~ .portfolio-content,
#faqs-tab:checked ~ .faqs-content,
#contact-tab:checked ~ .contact-content {
  display: block;
  position: absolute;
  color: var(--sidebar-background);
  margin-left: 168px;
  max-width: calc(100% - 140px);
  margin-top: 25%;
  margin-bottom: 25%;
}

#portfolio-tab:checked ~ .portfolio-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

   #portolio-tab:checked ~ .portfolio-content #documents-content,
   .portfolio-content #product-content,
   .portfolio-content #survey-content,
   .portfolio-content #tribute-content
    {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.documentspreview {
  width: 50%;
  justify-content: center;
}

#documents-content h3, p {
  text-align: center;
}

.tributepreview {
  width: 50%;
  justify-content: center;
}

#tribute-content h3, p {
  text-align: center;
}

.productpreview {
  width: 50%;
  justify-content: center;
}

#product-content h3, p {
  text-align: center;
}

.surveypreview {
  width: 50%;
  justify-content: center;
}

#survey-content h3, p, {
  text-align: center;
  justify-content: center;
}


#main {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 20px;
  height: 100vh;
}

.sidebar {
  color: var(--button-text);
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--sidebar-background);
}

.header img {
  width: 90px; 
  height: 90px;
  padding: 5px;
  background-color: var(--accents);
  border-radius: 50%;
  position:absolute;
  bottom: 15px;
}

.tabs {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  background-color: var(--sidebar-background);
  padding-left: 10px;
  font-weight: 600;
}

input[type="radio"]:checked + label {
  background-color: var(--main-background);
  border-radius: 10% 0% 0% 10%;
  color: #1c264c;
  border: solid 8px var(--button-shading);
  border-right: none;
  border-bottom: none;
}

input[type="radio"] {
  display: none;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
  border-radius: 10% 0% 0% 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-right: var(--button-highlight);
  border-style: solid;
  border-top: var(--accents);
}

label:hover {
  background-color: var(--button-hover);
  border-radius: 10% 0% 0% 10%;
  color: var(--sidebar-background);
}

.content {
  padding: 20px;
  grid-column: 2 / 3;
}

.home-content,
.portfolio-content,
.faqs-content,
.contact-content {
  display: none;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 25%;
}